<section class="container"></section>
<section class="container">
  <div class="container">
    <h1>Login</h1>

    <form method="POST" action="/login">
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" id="email" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" required>
      </div>

      <button class="btn btn-outline-secondary">Login</button>
    </form>
  </div>
</section class="container">
<section>
  <a href="<%= oauth.github.getLoginURL() %>" class="instagram">Login with Github</a>
</section>
