<div id="background">
    <video autoplay loop="true" class="video">
      <source src="/assets/videos/space.mp4" type="video/mp4">
    </video>
    <h1>RESTful Express App with Authentication</h1>
</div>
