<h1>Cats and Dogs</h1>
<main class="container">
  <div class="row">
    <div class="col-lg-3">
      <a href="/Cat">Cat</a>
    </div>
    <div class="col-lg-3">
      <a href="/Dog">Dog</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="/images/mainecoon.jpg" alt="Maine Coone" class="sonic" data-toggle="modal" data-target="">
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="/images/tibetan.jpg" alt="Tibetan Mistiff" class="photo"  data-toggle="modal" data-target="">
      </div>
    </div>
  </div>
</main>
