<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cats and Dogs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <%- include ./partials/_navbar %>
    <main class="container">
      <%- body %>
    </main>
    <%- include ./partials/_footer %>
  </body>
</html>
