<section></section>
<div class="container">
  <h1>Edit Profile</h1>

  <form method="POST" action="/instagrams/<%= instagram.id %>">
    <input type="hidden" name="_method" value="PUT">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Name" value="<%= instagram.name %>" class="form-control">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" placeholder="Email" value="<%= instagram.email %>" class="form-control">
    </div>
    <div>
      <label for="description">Description</label>
      <textarea name="description" placeholder="Description" ><%= instagram.description %></textarea>
    </div>
    <div>
      <label>Image</label>
      <input type="text" name="images[]" class="form-control">
    </div>
    <button class="btn btn-outline-danger">Update</button>
  </form>
</div>
