<h1>Editing Country</h1>

<%= render 'form', country: @country %>

<div class="actions container">
  <%= link_to 'Show', @country, class: 'btn btn-default btn-sm' %> <|>
  <%= link_to 'Back', countries_path, class: 'btn btn-default btn-sm' %>
</div>
