<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-12">
      <footer class="footer1">
            <h6 class="footer">Made with &hearts; by Raiden Dilan @ General Assembly &copy;2016</h6>
      </footer>
    </div>
  </div>
</div>
