<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/metas %>
    <title>RESTful Express App with Authentication</title>
    <% include ./partials/stylesheets %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <% for(const type in messages) { %>
      <div class="alert alert-<%= type %>">
        <div class="container">
          <%= messages[type] %>
        </div>
      </div>
    <% } %>
    <%- body %>
    <main class="container">
    </main>
    <% include ./partials/scripts %>
    <footer>
      <p>Raiden Dilan &copy; General Assembly 2017</p>
    </footer>
  </body>
</html>
