<section>
  <div class="container">
    <form method="POST" action="/restaurants">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
      </div>
      <fieldset>
        <legend>Address</legend>
        <div>
          <label for="line1">Line 1</label>
          <input type="text" name="address[line1]" id="line1">
        </div>
        <div>
          <label for="line2">Line 2</label>
          <input type="text" name="address[line2]" id="line2">
        </div>
        <div>
          <label for="city">City</label>
          <input type="text" name="address[city]" id="city">
        </div>
        <div>
          <label for="postcode">Postcode</label>
          <input type="text" name="address[postcode]" id="postcode">
        </div>
        <div>
          <label for="country">Country</label>
          <input type="text" name="address[country]" id="country">
        </div>
      </fieldset>
      <div>
        <label for="stars">Stars</label>
        <input type="number" name="stars" id="stars">
      </div>
      <div>
        <label for="image">Image</label>
        <input type="text" name="image" id="image">
      </div>

      <button class="btb btn-outline-primary">Register</button>
    </form>
  </div>
</section>
