<h1>Editing Continent</h1>

<%= render 'form', continent: @continent %>

<div class="actions container">
  <%= link_to 'Show', @continent, class: 'btn btn-default btn-sm' %> <|>
  <%= link_to 'Back', continents_path, class: 'btn btn-default btn-sm' %>
</div>
