/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/

body, input {
  font-family: 'Karla', sans-serif;
  background-color: #fafafa;
}

header {
  float: left;
  margin: 50px 200px;

}

main {
  margin-left: 600px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 10px;
  text-align: center;
  max-width: 960px;
}

h1 {
  font-weight: bold;
  color: #999;
  padding: 1px;
  border: 3px;
  text-align: center;
}

h2 {
  background-color: #3897f0;
  text-align: center;
  color: white;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  color: #999;
}

h4 {
  color: #999;
}

h5 {
  color: black;
  text-align: center;
}

footer a {
  color: #003569;
  text-decoration: none;
}

footer nav ul li {
  display: inline;
  margin-right: 10px;
  font-size: 12px;
  /*clear: both;*/
}

footer {
  padding: 50px 0;
  text-transform: uppercase;
  float: left;
  font-weight: bold;
  text-align: center;
  margin: 20px 125px;
}

footer nav ul li:last-child {
  margin: 50;
  text-align: center;
  width: 100%;
}

footer nav ul {
  margin-bottom: 10px;
}

aside .small {
  margin: 100px -12px;
  border: 2px solid black;
  border-color: #e6e6e6;
  background-color: white;
  text-align: center;
  padding: 30px 5px;
}

li {
  list-style: none;
  color: #999;
}

aside .medium {
  float: right;
  background-color: white;
  border: 2px solid black;
  border-color: #e6e6e6;
  padding: 30px;
  text-align: center;
  margin: 5px;
}
